<div class="d-flex justify-content-center w-100">
    <img *ngIf="enviando" src="assets/loader.svg" alt="loader" width="50" height="50">
    <span *ngIf="msgErro" class="alert alert-danger">{{msgErro}}</span>
</div>
<form [formGroup]="formLogin" class="w-100 d-flex flex-column align-items-center">
    <div class="mb-2 w-50">
        <label for="user">E-mail</label>
        <div class="input-group">
            <input type="text" formControlName="email" class="form-control" id="user">
        </div>
    </div>
    <div class="mb-2 w-50">
        <label for="password">Senha</label>
        <div class="input-group">
            <input [type]="showPassowrd ? 'text' : 'password'" formControlName="password" class="form-control" id="password">
            <div class="input-group-append">
                <a class="input-group-text" on-click="showPassowrd = !showPassowrd"><i [class]="showPassowrd ? 'fas fa-eye-slash' : 'fas fa-eye'" ></i></a>
            </div>
        </div>
    </div>
    <div class="w-50 mt-2 d-flex justify-content-between">
        <a routerLink="/cadastrar" class="btn btn-secondary">CADASTRAR</a>
        <button type="button" class="btn btn-primary" on-click="doLogin()">ENVIAR</button>
    </div>
</form>